[client]
port                        = 3306
socket                      = /run/mysqld/mysqld.sock

[mysqld]
port                        = 3306
tmpdir                      = /tmp/
socket                      = /run/mysqld/mysqld.sock
log-bin                     = mysql-bin
sql_mode                    = STRICT_ALL_TABLES
server-id                   = 1
binlog_format               = mixed
key_buffer_size             = 32M
collation-server            = utf8mb4_unicode_ci
table_open_cache            = 128
sort_buffer_size            = 1024K
read_buffer_size            = 256K
net_buffer_length           = 8K
max_allowed_packet          = 2M
read_rnd_buffer_size        = 512K
character-set-server        = utf8mb4
innodb_file_per_table       = 1
myisam_sort_buffer_size     = 8M
innodb_default_row_format   = dynamic
skip-external-locking

[mysqldump]
max_allowed_packet          = 16M
quick

[mysql]
no-auto-rehash

[myisamchk]
read_buffer                 = 2M
write_buffer                = 2M
key_buffer_size             = 20M
sort_buffer_size            = 20M

[mysqlhotcopy]
interactive-timeout
