# Copyright (C) 2020 iDigitalFlame
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

Port                            22
MACs                            hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
UsePAM                          yes
Ciphers                         chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
HostKey                         /etc/ssh/ssh_host_rsa_key
HostKey                         /etc/ssh/ssh_host_ed25519_key
Protocol                        2
Subsystem                       sftp /usr/lib/ssh/sftp-server
PrintMotd                       no
PermitTTY                       yes
Compression                     no
MaxStartups                     10:30:100
GatewayPorts                    no
PermitTunnel                    no
PrintLastLog                    yes
IgnoreRhosts                    yes
TCPKeepAlive                    yes
AddressFamily                   any
ListenAddress                   0.0.0.0
KexAlgorithms                   curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
LoginGraceTime                  1m
PermitRootLogin                 yes
AllowTcpForwarding              no
AuthorizedKeysFile              .ssh/authorized_keys
ClientAliveCountMax             0
ClientAliveInterval             600
IgnoreUserKnownHosts            no
PermitEmptyPasswords            no
AllowAgentForwarding            no
PubkeyAuthentication            yes
PasswordAuthentication          yes
KerberosAuthentication          no
HostbasedAuthentication         no
ChallengeResponseAuthentication no
