[Unit]
Description     = Scorebot Daemon
After           = syslog.target httpd.service
Wants           = network-online.target httpd.service

[Service]
Type            = simple
User            = http
Group           = http
ExecStart       = /usr/bin/bash -c "source $PYDIR/bin/activate; python3 $SCOREBOT/daemon.py"
KillSignal      = SIGINT
Environment     = "PYDIR=/opt/scorebot/python"
Environment     = "SCOREBOT=/opt/scorebot/current"
ProtectHome     = true
ProtectSystem   = true

[Install]
WantedBy        = multi-user.target
